{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تأیید بازیابی رمز - کدینو</title>
    <link rel="stylesheet" href="{% static 'styles/universal.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/colors.css' %}"/>
</head>
<body class="dark">

<div class="login-section">
    <p style="font-size: 50px;">کدینو</p>
    <div class="login-box">
        <p class="login-title">بازیابی رمز عبور</p>
        <form method="POST" class="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <p style="color: red;">{{ form.non_field_errors }}</p>
            {% endif %}

            <label for="email">ایمیل</label>
            {{ form.email }}

            <label for="code">کد تأیید</label>
            {{ form.code }}

            <label for="new_password">رمز عبور جدید</label>
            {{ form.new_password }}

            <input id="submit" type="submit" value="تأیید">
        </form>
    </div>
</div>

<script src="{% static 'script.js' %}"></script>
</body>
</html>
